[submodule "3rdParty/textwolf"]
	path = 3rdParty/textwolf
	url = https://github.com/patrickfrey/textwolf
[submodule "3rdParty/papuga"]
	path = 3rdParty/papuga
	url = https://github.com/patrickfrey/papuga
